// USER VARIABLES SECTION

$accent: #8C32F0; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #000; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$avenir: 'Avenir', sans-serif;
$gabriela: 'Gabriela', serif;

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		font-display: swap;
		src: local($fname), url($furl) format('woff2');
	}
}

@include font('Avenir', normal, 400, '../fonts/AvenirNext-Regular.woff2');
@include font('Avenir', normal, 600, '../fonts/AvenirNext-DemiBold.woff2');
@include font('Avenir', normal, 700, '../fonts/AvenirNext-Bold.woff2');
@include font('Gabriela', normal, 400, '../fonts/Gabriela-Regular.woff2');

@mixin gradientAnimation( $from, $start, $end, $transTime ){
    background-size: 100%;
    background-image: linear-gradient($from, $start, $end);
    position: relative;
    z-index: 100;
    &:before {
        background-image: linear-gradient($from, $end, $start);
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0; left: 0;
        opacity: 0;
        width: 100%;
        z-index: -100;
        transition: opacity $transTime;
    }
    &:hover {
        &:before {
            opacity: 1;
        }
    }
}

// GENERAL DOCUMENT STYLES

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input, textarea {
	outline: none;
	&:focus:required:invalid { border-color: red }
	&:required:valid { border-color: green }
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-fluid{
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}
li{
  list-style: none;
}
a{
  text-decoration: none !important;
}

body {
	font-family: $avenir;
	font-size: $fontsize;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
	color: $textcolor;
}
